<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
        crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
    <title>Title</title>
</head>

<body>
    <div style="text-align:center">
        <div class="container">
            <div class="page-header">
                <h1>登録画面</h1>
            </div>
            <!--https://rsn9nfs08d.execute-api.ap-northeast-1.amazonaws.com/default/ennnichi_register_func-->
            <form action="regist" method="post" enctype="multipart/form-data">
                <label>ユーザー名</label>
                <input type="text" name="userName" value=""><br>
                <label>名前</label>
                <input type="text" name="name" value=""><br>
                <label>趣味１</label>
                <input type="text" name="hobby1" value=""><br>
                <label>趣味２</label>
                <input type="text" name="hobby2" value=""><br>
                <label>スキル１</label>
                <input type="text" name="skill1" value=""><br>
                <label>スキル２</label>
                <input type="text" name="skill2" value=""><br>
                <label>写真</label>
                <input type="file"  name="img">
                <div class="mx-auto"><input class="btn btn-primary" type="submit" value="登録"></div>
                <p><a href="{{ url_for('cond') }}">Check out this regist condition form!</a></p>
            </form>
        </div>
    </div>
</body>

</html>